:root{
    --gray900: #111827;
    --gray800: #1f2937;
    --gray700: #374151;
    --gray600: #4b5563;
    --gray500: #6B7280;
    --gray400: #9ca3af;
    --gray200: #e5e7eb;
    --gray100: #f3f4f6;
    --gray50: #f9fafb;
    --blue: #3692ff;
    --red: #f74747;
}


/* palette 색상을 :root에 CSS 변수로 선언

var(--변수명)으로 재사용

중앙에서 색상 변경 → 전체에 자동 적용 */