.pandalogin{
    display: flex;
    flex-direction: column;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

/* 기본은 PC, Tablet 동일 */
.container, .pandalogin {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container, .pandalogin {
    padding: 0 16px;
    width: 100%;
    max-width: 700px; /* 기기 너비 커져도 400px 이상 안 넘어감 */
  }
}

.logo_login{
    width: auto;
    height: 100px;
    margin: 0 15px;
}

.logoM_login{
    width: auto;
    height: 60px;
}

.logo_link{
    display: flex;
    align-items: center;
}

.password_wrapper{
    position: relative;
    width: 100%;
}

.ic_eye_open, .ic_eye_close {
    position: absolute;
    right: 30px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    top: 26%;
}

.login_input{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.login{
    width: 100%;
    height: auto;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

@media (max-width: 767px) {
  .login {
    width: 100%;
  }
}

label{
    font-size: 20px;
    font-weight: 700;
    padding: 15px 0;
}

input{
    background-color: var(--gray100);
    width: 100%;
    height: 70px;
    border: none;
    border-radius: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    padding: 30px;
}

/* 자동완성시 색상 폼 배경색 자동 변환 방지 */
input:-webkit-autofill {
  background-color: var(--gray100) !important;
  transition: background-color 5000s ease-in-out 0s;
}

button{
    background-color: var(--blue);
    width: 100%;
    height: 70px;
    border: none;
    border-radius: 40px;
    color: #fff;
    font-size: 22px;
    margin: 20px 0;
}

.social_login{
    background-color: #E6f2ff;
    width: 100%;
    height: 80px;
    border: none;
    border-radius: 8px;
    padding: 30px 30px;
    color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
}

.sns_login{
    width: 110px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.google, .kakao{
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    margin: 15px 15px 100px 15px;
}

.signup,
.signup:visited,
.signup:hover,
.signup:active {
  color: var(--blue);
  text-decoration: underline;
}