/* 사이트 전체에 공통으로 적용되는 스타일 */

/* PC: 1200px 이상 */
@media (min-width: 1200px) {
}
/* Tablet: 768px ~ 1199px */
@media (min-width: 768px) and (max-width: 1199px) {
}
/* Mobile: 375px ~ 767px */
@media (min-width: 375px) and (max-width: 767px) {
}

html{
    font-size: clamp(14px, 1.5vw, 18px);
    word-break: keep-all;
    font-family: Pretendard, sans-serif;
}

body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: clamp(1.8rem, 4vw, 2.5rem);
}

p {
  font-size: clamp(1rem, 2vw, 1.25rem);
  margin: 0;
}